@use "../theme" as *;

.Blog {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  h3 {
    margin-bottom: 0.25rem;
  }
}

.Blog--featured {
  article + article {
    margin-top: 5rem;
  }

  header {
    display: grid;
    gap: 0.75rem;
  }

  article > time {
    display: block;
    margin-bottom: -0.5rem;
  }

  .Blog__article--longForm + .Blog__article--longForm {
    margin-top: 5rem;
  }

  article:after {
    content: ":::";
    color: var(--color-border);
    margin-top: 1rem;
    font-size: 1.2rem;
    display: block;
  }
}

.Blog--archive {
  .Blog__notes {
    border-top: 1px solid var(--color-border);
    margin-top: 40px;
    padding-top: 40px;
    padding-block-end: 80px;

    &:not(:has(*)) {
      display: none;
    }
  }
}

.Blog--featured + .Pagination {
  margin-top: 6rem;
}
