<div>
  <h1>A weblog by Chase McCoy about exploring and building the world wide web.</h1>

  <nav>
    <ul class='unstyled'>
      <li>
        <a href="mailto:hi@chasem.co">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
          </svg>
          Email
        </a>
      </li>

      <li>
        <a href="https://chasem.co/feed.xml">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 11a9 9 0 0 1 9 9"></path>
            <path d="M4 4a16 16 0 0 1 16 16"></path>
            <circle cx="5" cy="19" r="1"></circle>
          </svg>
          RSS
        </a>
      </li>

      <li>
        <a href="https://books.chasem.co" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
          </svg>
          Library
        </a>
      </li>

      <li>
        <a href="https://lab.chasem.co" target="_blank">
          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 15.9999V7.9999C20.9996 7.64918 20.9071 7.30471 20.7315 7.00106C20.556 6.69742 20.3037 6.44526 20 6.2699L13 2.2699C12.696 2.09437 12.3511 2.00195 12 2.00195C11.6489 2.00195 11.304 2.09437 11 2.2699L4 6.2699C3.69626 6.44526 3.44398 6.69742 3.26846 7.00106C3.09294 7.30471 3.00036 7.64918 3 7.9999V15.9999C3.00036 16.3506 3.09294 16.6951 3.26846 16.9987C3.44398 17.3024 3.69626 17.5545 4 17.7299L11 21.7299C11.304 21.9054 11.6489 21.9979 12 21.9979C12.3511 21.9979 12.696 21.9054 13 21.7299L20 17.7299C20.3037 17.5545 20.556 17.3024 20.7315 16.9987C20.9071 16.6951 20.9996 16.3506 21 15.9999Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.27002 6.95996L12 12.01L20.73 6.95996" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 22.08V12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Lab
        </a>
      </li>
    </ul>
  </nav>
</div>

{% if mobile %}
  <details>
    <summary></summary>
    <div>
    {% endif %}

    <div>
      <h2>About the editor</h2>
      <p>Chase is a professional designer and amateur human currently working on design systems at <a href="https://stripe.com" target="_blank">Stripe</a>.</p>
    </div>

    <div class='social'>
      <h2>Elsewhere</h2>
      <ul class='unstyled'>
        <li>
          <a href='https://chs.is/coding' target="_blank">GitHub</a>
        </li>
        <li>
          <a href='https://chs.is/ig' target="_blank">Instagram</a>
        </li>
        <li>
          <a href='https://chs.is/tooting' target="_blank">Mastodon</a>
        </li>
        <li>
          <a href='https://chs.is/listening' target="_blank">Spotify</a>
        </li>
        <li>
          <a href='https://chs.is/tweeting' target="_blank">Twitter</a>
        </li>
      </ul>
    </div>

    <div class='now-playing'>
      <h2>Now playing</h2>

      <now-playing></now-playing>
    </div>

    <div class='bookmarks'>
      <h2>Linked list</h2>
      <p class='color-caption mb-4'>Things that caught my eye on the web, updated sporadically.</p>

      <bookmark-list></bookmark-list>
    </div>

    <div class='blogroll'>
      <h2>Blogroll</h2>
      <ul>
        {% for item in blogroll %}
          <li>
            <a href="{{item.url}}" target="_blank" class='unstyled' title="{{ item.name }}">{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class='museo'>
      <div class='flow' style='--flow-spacing: 0.25em;'>
        <a href="https://museo.app" target="_blank">{% include "museo-logo.njk" %}</a>
        <p>
      An open source web interface that helps you find free-to-use images from some of the world’s best museums and libraries:
    </p>

        <ul>
          <li>
            <a href="https://www.artic.edu/archival-collections/explore-the-collection">The Art Institute of Chicago</a>
          </li>
          <li>
            <a href="https://www.rijksmuseum.nl/nl">The Rijksmuseum</a>
          </li>
          <li>
            <a href="https://harvardartmuseums.org">The Harvard Art Museums</a>
          </li>
          <li class='color-caption'>
            <a href="https://museo.app">And more...</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class='dashed'/>

    <p class='colophon color-caption'>
  Typeset in good old Verdana and <a href="https://www.1001fonts.com/wallau-font.html">Wallau Unzial</a>. Built with <a href="https://www.11ty.dev">Eleventy</a> and hosted on <a href="https://www.netlify.com">Netlify</a>. Thanks for stopping by ♥
</p>
    {% if mobile %}
    </div>
  </details>
{% endif %}