@use '../theme' as *;

:root {
  --layout-padding: 1rem;

  @include small {
    --layout-padding: 3.5rem;
  }

  @include medium {
    --layout-padding: 5rem;
  }
}

.Wrapper {
  --gap: 1.5rem;
  width: fit-content;
  margin: 0 auto;

  display: grid;
  grid-template-columns: [content-start sidebar-start] minmax(0, 1fr) [sidebar-end content-end];
  column-gap: var(--gap);

  @include small {
    grid-template-columns:
      [content-start] minmax(
        0,
        calc(var(--content-width) + 2 * var(--layout-padding))
      )
      [content-end sidebar-start] minmax(0, var(--sidebar-width))
      [sidebar-end];
  }

  @include medium {
    --gap: 2.5rem;
  }
}

.Wrapper__header {
  padding-block: 2rem 3rem;
  grid-column: content;
  border-top: 4px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @include small {
    padding-block: 3rem;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover h1 svg {
    animation: spin 5s linear infinite;
  }

  body:not(.post) & time {
    display: none;
  }
}

.Wrapper__header,
.Wrapper__main {
  padding-inline: var(--layout-padding);
  background-color: var(--color-body-background);
}

.Wrapper__main {
  grid-column: content;

  > header + .Content {
    padding: 1rem 0 0;
  }
}
