---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}" rel="alternate" type="text/html"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.posts | reverse | filterHidden %}
		{% set absolutePostUrl %}{{ post.url | absoluteUrl(metadata.url) }}{% endset %}
		<entry>
			{% if post.data.title %}
				<title>{{ post.data.title }}</title>
			{% endif %}
			<link href="{{ absolutePostUrl }}"/>
			<pubDate>{{ post.date | dateForXMLFeed }}</pubDate>
			<id>{{ absolutePostUrl }}</id>
			<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
		</entry>
	{%- endfor %}
</feed>