.Archives {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  a {
    text-decoration: none;
  }

  h3 {
    margin-bottom: 0.25rem;
  }
}

.Archives__years {
  li + li:before {
    content: '/';
    display: inline;
    margin-inline: 2px;
    color: var(--color-border);
  }
}

.Blog .Archives {
  padding: 1.5rem 0;
  border-top: 1px dashed var(--color-border);
  border-bottom: 1px dashed var(--color-border);
  margin: 3rem 0;
}
