section-header {
  display: block;
}

section-header h2 {
  display: grid;
  grid-template-columns: auto minmax(20px, 1fr);
  gap: 12px;
  align-items: center;
  font-weight: normal;
  font-family: var(--font-header);
  color: var(--color-accent);

  span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
    line-height: 1;
  }

  @include tiny {
    width: 100%;
    margin-right: 0;
  }
}

section-header:not(.eyebrow) h2:after {
  content: '';
  border-top: 1px dashed var(--color-border);
  transform: translateY(2px);
}
