.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.85rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 2px;
  }

  details > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem 0 0;
  }

  summary {
    font-family: var(--font-code);
    color: var(--color-caption);
    list-style: none;
    background-image: none;
    appearance: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details summary:before {
    content: '+ More';
  }

  details[open] summary:before {
    content: '- Less';
  }

  a {
    color: var(--color-caption);
    text-decoration: none;
  }

  a[aria-current='page'] {
    color: var(--color-accent);
  }

  a:hover {
    color: var(--link-color);
  }

  h1 {
    font-size: 1em;
    font-weight: normal;
  }

  li:before {
    content: '◆';
    color: var(--color-border);
  }

  nav {
    margin-top: 1rem;

    ul {
      margin-bottom: -8px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 2px;

      @include small {
        display: grid;
        grid-template-columns: auto 1fr;
      }
    }

    li {
      margin-bottom: 8px;
    }

    a {
      text-decoration: none;
    }

    a {
      display: flex;
      align-items: center;

      > svg {
        margin-right: 6px;
      }
    }
  }

  .social {
    ul {
      column-gap: 24px;
      row-gap: 2px;
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  .blogroll {
    ul {
      columns: 2;
      gap: 12px;
      margin-top: 4px;
    }

    li {
      margin: 0;
    }

    li:before {
      content: none;
    }

    a {
      display: block;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  bookmark-list {
    display: block;

    a {
      display: block;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .museo {
    margin-top: 8px;
  }

  .colophon a {
    text-decoration: underline;
  }

  now-playing {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 3px;
    color: var(--color-caption);

    .image-container {
      position: relative;
      top: 3px;
      overflow: clip;
      min-width: 32px;
      width: 32px;
      height: 32px;
      border-radius: 4px;

      &:after {
        content: '';
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 0 1px rgba(0 0 0 / 0.1);
        border-radius: inherit;
      }
    }
  }

  .years li + li:not(:last-child):after,
  .years li:first-child:after {
    content: '/';
    display: inline;
    margin: 0;
    float: none;
    color: var(--color-border);
  }
}
