a.post-preview { 
  padding: 16px;
  margin: -16px;
  border-radius: 12px;

  .date-label {
    transition: all 0.15s;
    border: 1px solid transparent;
  }

  &:hover {
    background: #F0F0EF;

    .date-label {
      border: 1px solid var(--color-gray--300);
    }
  }
}

article.post-preview {
  img {
    height: 150px;
    object-fit: cover;
    margin: 0;
    width: 100%;
    border-radius: 6px;

    @media (--viewport-tiny) {
      aspect-ratio: 1 / 1;
      width: auto;
      max-width: 40%;
      margin-top: 0;
      height: 120px;
    }
  }

  @media (--viewport-tiny) {
    flex-direction: row;
  }
}