article.post-preview {
  img {
    height: 150px;
    object-fit: cover;
    margin: 0;
    width: 100%;
    border-radius: 6px;

    @media (--viewport-tiny) {
      aspect-ratio: 1 / 1;
      width: auto;
      max-width: 40%;
      margin-top: 0;
      height: 120px;
    }
  }

  @media (--viewport-tiny) {
    flex-direction: row;
  }
}