:root {
  --color-body-background: #222;
  --color-text: var(--color-gray--300);
  --color-header: var(--color-gray--200);
  --link-color: var(--color-text);
  --link-hover: var(--color-green);
  --color-border: #404040;
  --link-underline-color: var(--color-border);
  --text-decoration-thickness: 1px;
  --text-decoration-offset: 0;

  --ascii-filter: invert();
}

h3.subheader {
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--color-gray--500);
}

.avatar {
  width: 9em;
  height: 9em;
  border: 1px dashed var(--color-gray--600);
  padding: 8px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
  margin: 8px 0 8px 24px;
  shape-outside: circle();

  @media (--viewport-medium) {
    margin-top: -8px;
  }

  > div {
    border-radius: 50%;
    overflow: hidden;
    background: repeating-linear-gradient(
      -55deg,
      var(--color-gray--600),
      var(--color-gray--600) 0.5px,
      var(--color-body-background) 0.5px,
      var(--color-body-background) 3px
    );
  }
}

.marker.previously {
  --color-accent: var(--color-purple);
  margin-bottom: -12px;

  @media (--viewport-tiny) {
    margin-bottom: 16px;
  }
}

.homepage--design-systems .focus-areas {
  padding-left: 12px;

  h3 {
    font-size: 1.1em;
    color: var(--color-gray--300);
  }

  p {
    color: var(--color-gray--400);
  }

  @media (--viewport-small) {
    padding-left: 0;
  }
}

.homepage--design-systems .hover-link {
  align-items: flex-start;
  border: 1px solid var(--color-border);
  border-radius: 12px;

  &:hover {
    background: var(--color-gray--800);
  }
}

.museo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    font-size: 2.8em;
    font-family: var(--font-header);

    a {
      display: inline-flex;
      align-items: center;
    }

    .subtitle {
      display: inline-block;
      font-size: 0.6em;
      transform: translateY(-0.45ex);
      align-self: flex-end;
      color: white;
    }
  }

  a {
    color: inherit;
  }

  a:hover {
    color: var(--color-gray--500);
  }

  .prose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul li + li {
    margin-top: 4px;
  }

  .image-container {
    min-width: 42%;
    align-self: center;
  }

  img:not(.mobile-only) {
    display: none;
    padding-left: 32px;

    @media (--viewport-tiny) {
      display: block;
    }
  }

  img.mobile-only {
    margin-top: 16px;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: 50% 70%;

    @media (--viewport-tiny) {
      display: none;
    }
  }

  @media (--viewport-tiny) {
    flex-wrap: nowrap;
  }
}

.homepage--seeds {
  background: #2f2f2f;
  --padding: 16px;

  a {
    color: inherit;
  }

  a:hover {
    color: var(--color-gray--400);
  }

  .screenshot-container {
    width: calc(100% - var(--padding));
    margin-left: auto;
  }

  @media (--viewport-tiny) {
    border-radius: 12px;
    --padding: 24px;
  }

  section:first-child {
    padding: 48px var(--padding) 0;

    @media (--viewport-tiny) {
      padding: 24px var(--padding) 0;
    }

    p.lead a {
      text-decoration-color: var(--color-gray--600);
    }

    h2 {
      font-size: 2em !important;
      display: inline-flex;
      align-items: center;

      @media (--viewport-tiny) {
        font-size: 3em !important;
      }
    }

    .logo {
      width: 40px;
      flex-shrink: 0;

      @media (--viewport-tiny) {
        width: 48px;
      }
    }

    .subtitle {
      color: var(--color-green);
      font-size: 0.7rem;
      font-weight: normal;
      align-self: flex-end;
      transform: translateY(-0.8ex);
      max-width: 25ch;

      @media (--viewport-tiny) {
        font-size: 0.8rem;
        transform: translateY(-1.5ex);
      }
    }
  }

  section:last-child {
    --flow-spacing: 0.75em;
    font-size: 0.9em;
    border-top: 1px solid var(--color-gray--700);
    padding: 24px var(--padding) 24px;
    box-shadow: 2px -16px 32px -4px rgba(0, 0, 0, 0.3);
    position: relative;

    span.product {
      color: var(--color-green);
    }

    span.program {
      color: var(--color-yellow);
    }

    p.intro {
      color: white;
      span {
        font-style: italic;
        font-weight: bold;
      }
    }

    p.clear-right {
      clear: right;

      @media (--viewport-medium) {
        margin-top: 24px;
      }
    }

    ol {
      font-size: 0.9rem;
      overflow: hidden;
      color: var(--color-gray--300);

      > li {
        margin-left: 2.25em;
      }

      li + li {
        margin-top: -0.25em;
      }

      > li:before {
        content: counter(ol-counter);
        color: var(--color-body-background);
        background: var(--accent-color, var(--color-yellow));
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        font-weight: bold;
        padding: 0;
        left: -2.25em;
      }
    }
  }

  .photo-site {
    display: none;
    border-radius: 8px;
    float: right;
    height: 200px;
    width: 200px;
    margin: 8px -15% 16px 12px;
    box-shadow: 0px 4px 48px 24px rgba(0, 0, 0, 0.24);
    overflow: hidden;

    @media (--viewport-tiny) {
      display: block;
      margin: -72px -35% 12px 16px;
      height: 250px;
      width: 400px;
    }
  }

  .photo-planning {
    display: none;
    border-radius: 8px;
    float: left;
    clear: right;
    margin: 24px 20px 0 -15%;
    width: 200px;
    height: 300px;
    box-shadow: 0px 4px 48px 24px rgba(0, 0, 0, 0.24);
    overflow: hidden;

    @media (--viewport-tiny) {
      display: block;
      width: 450px;
      height: 260px;
      margin: 20px 20px 8px -45%;
    }

    @media (--viewport-medium) {
      margin: 8px 20px 8px -45%;
    }
  }

  .mobile-photos {
    display: block;

    img {
      object-fit: cover;
      box-shadow: 0px 4px 48px 24px rgba(0, 0, 0, 0.24);
      border-radius: 8px;
    }

    @media (--viewport-tiny) {
      display: none;
    }
  }

  .cta {
    display: block;
    border: 2px solid var(--color-green);
    text-align: center;
    border-radius: 9999px;
    padding: 12px;
    color: white !important;

    &:hover {
      background: var(--color-green);
    }
  }
}

.contact {
  ul {
    li {
      display: block;
      margin-left: 0;

      &:before {
        content: '';
      }

      @media (--viewport-small) {
        display: inline;
      }
    }

    li + li {
      margin-left: 0;

      @media (--viewport-small) {
        margin-left: 1.5em;
      }
    }

    svg {
      margin-top: -4px;
      margin-right: 2px;
    }

    a:hover > span {
      text-decoration: underline;
    }
  }
}

.previously {
  > * + * {
    margin-top: 0;
    border-top: 1px dashed var(--color-border);
  }

  @media (--viewport-tiny) {
    > * + * {
      margin-top: 24px;
      border: none;
    }
  }
}

.homepage--pico {
  background: black;
  align-items: center;
  padding-left: 16px;

  @media (--viewport-tiny) {
    display: flex;
    border-radius: 12px;
    padding-left: 32px;
  }

  .text-container {
    flex: 1 1 auto;

    a {
      color: inherit;
    }

    a:hover {
      color: var(--color-gray--400);
    }

    @media (--viewport-tiny) {
      margin-right: 40px;
    }
  }

  .boxes {
    img {
      width: 18%;
    }

    img + img {
      margin-left: 16px;
    }
  }

  .image-container {
    flex: 1 0 40%;
    align-self: flex-end;

    img {
      object-fit: cover;
      height: 350px;
      width: 75%;
      object-position: 100% 0;
      margin: 0 auto;
    }

    @media (--viewport-tiny) {
      img {
        height: auto;
        width: auto;
      }
    }

    @media (--viewport-small) {
      flex-basis: 30%;
    }
  }
}
