.museo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    font-size: 2.8em;
    font-family: var(--font-header);

    a {
      display: inline-flex;
      align-items: center;
    }

    .subtitle {
      display: inline-block;
      font-size: 0.6em;
      transform: translateY(-.45ex);
      align-self: flex-end;
      color: var(--color-caption);
    }
  }

  a {
    color: inherit;
  }

  a:hover {
    color: var(--color-gray--500);
  }

  .prose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul li + li {
    margin-top: 4px;
  }

  .image-container {
    width: 100%;
    min-width: 42%;
    align-self: center;
  }

  img:not(.mobile-only) {
    display: none;
    padding-left: 32px;

    @media (--viewport-tiny) {
      display: block;
    }
  }

  img.mobile-only {
    margin-top: 16px;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: 50% 70%;

    @media (--viewport-tiny) {
      display: none;
    }
  }

  @media (--viewport-tiny) {
    flex-wrap: nowrap;
  }
}