.featured-card {
  background: var(--color-gray--100);
  border-radius: 12px;
  overflow: hidden;

  &:hover,
  &:focus {
    color: var(--color-text);
    background: var(--color-gray--200);
  }

  &.green {
    background: #c4f0cb;

    img {
      mask-image: linear-gradient(
        to top,
        rgba(197, 241, 204, 0.1),
        rgba(197, 241, 204, 1) 80%
      );
    }

    p {
      color: #5d8966;
    }

    &:hover,
    &:focus {
      background: #a6e8b1;
    }
  }

  &.code {
    background: #212529;

    img {
      mask-image: linear-gradient(
        to top,
        rgba(33, 37, 41, 0.2),
        rgba(33, 37, 41, 1) 30%
      );
    }

    h2 {
      color: var(--color-gray--200);
    }

    p {
      color: var(--color-gray--400);
    }

    &:hover,
    &:focus {
      background: black;
    }
  }
}

.quote {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
