h1 {
  /* background: var(--color-yellow);
  border: 2px solid black; */
  font-style: italic;
  /* border-radius: 8px;
  padding: 0.5em; */
  font-size: 3rem !important;

  &:after {
    content: '';
    display: block;
    height: 20px;
    margin-top: -16px;
    background: var(--color-yellow);
    background: linear-gradient(
      to bottom,
      var(--color-yellow) 0%,
      var(--color-yellow) 60%,
      white 60%,
      white 80%,
      var(--color-yellow) 80%,
      var(--color-yellow) 100%
    );
  }

  /* @media (--viewport-tiny) {
    font-size: 3.5rem !important;
  } */

  span:first-child {
    flex-shrink: 0;
  }

  .subtitle {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    display: inline-flex;
  }
}

*:not(.toc) > h2 {
  font-family: var(--font-header) !important;
}
