h1 {
  font-style: italic;
  font-size: 3rem !important;

  &:after {
    content: '';
    display: block;
    height: 20px;
    margin-top: -14px;
    background: var(--color-yellow);
    background: linear-gradient(
      to bottom,
      var(--color-accent) 0%,
      var(--color-accent) 60%,
      white 60%,
      white 80%,
      var(--color-accent) 80%,
      var(--color-accent) 100%
    );
  }

  span:first-child {
    flex-shrink: 0;
  }

  .subtitle {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    display: inline-flex;
  }
}