body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
img,
figure,
figcaption,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
}

html {
  font-size: var(--root-font-size);
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

img,
svg,
video,
canvas {
  height: auto;
}

summary {
  display: list-item;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

[hidden] {
  display: none !important;
}

:focus:not(:focus-visible) {
  outline: none;
}

input[type='button'],
button {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
details,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
