@each $color in accent, caption {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
}

.bold {
  font-weight: bold;
}

.font-header {
  font-family: var(--font-header);
}

.block {
  display: block;
}

.lead {
  font-size: 1.1em;
}
