#site-header {
  padding: 1.5rem var(--layout-padding) 0;
  font-size: 0.8em;
  line-height: 1.5;

  a {
    display: block;
    border-bottom: 2px solid transparent;
  }

  a[href='/'] {
    font-weight: bold;
    /* border-top: 1px dashed #E5A702; */
    /* border-bottom: 12px solid #fbd254; */
    /* padding: 6px 16px 4px 0; */
    /* font-family: var(--font-code); */
    /* font-size: 1rem; */
  }

  a:not([href='/']) {
    padding: 0 6px 4px;
  }

  a:not([href='/']):hover {
    border-bottom: 2px solid #E5A702;
    /* font-style: italic; */
  }

  a:hover {
    color: currentColor;
  }
}

#site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  ul {
    display: flex;
    gap: 24px;
  }

  li {
    display: inline-block;
  }
}
