/* 
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

:root {
  --color-body-background: #222; // #181B25;
  --color-text: var(--color-gray--300);
  --color-header: var(--color-gray--200);
  --link-color: var(--color-text);
  --link-hover: var(--color-green);
  --color-border: #404040;

  --ascii-filter: invert();
}

h3.subheader {
  font-size: .7rem; 
  font-weight: normal;
  color: var(--color-gray--500);
}