:root {
  --sidebar-width: 140px;
  --layout-gap: 24px;
  --layout-padding: 20px;
}

main {
  /* margin: 8px; */
  padding: 16px var(--layout-padding) 40px;
  background: var(--color-body-background);
  border-radius: 0 0 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr min(40rem, 100%) 1fr;

  > * {
    grid-column: 2;
  }

  @media (--viewport-small) {
    --layout-padding: 40px;
  }
}

#sidebar {
  margin-top: 32px;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  display: none;

  @media (--viewport-small) {
    display: block;
  }
}

#sidebar:empty {
  display: none;
}

footer {
  margin: 0 auto;
  padding: 2rem var(--layout-padding);
  display: grid;
  grid-template-columns: 1fr min(40rem, 100%) 1fr;

  > * {
    grid-column: 2;
  }

  @media (--viewport-medium) {
    max-width: calc(
      var(--article-width) + var(--layout-gap) + var(--sidebar-width)
    );
  }

  & > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;

    @media (--viewport-small) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}
