.quote {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.note-grid {
  --columns: 2;
  --min-column-width: 15em;
  --gap: 16px;

  columns: var(--columns) var(--min-column-width);
  column-gap: var(--gap);

  > * {
    break-inside: avoid;
  }

  @media (--viewport-large) {
    --columns: 3;
    width: calc(100% + 400px);
    margin-left: -200px;
  }
}
