@import "resetti";
@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./layout.css";
@import "./article.css";
@import "./sidebar.css";

:focus:not(:focus-visible) {
  outline: none;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--font-body);
  overflow: hidden;
  min-height: 100vh;
  background: var(--color-body-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header);

  a {
    --link-color: var(--color-header);
  }
}

a {
  --link-underline-color: rgba(var(--section-color-rgb), 0.3);
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.25s;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--link-underline-color);
  text-underline-offset: 0.125rem;

  &:hover {
    color: var(--section-color, var(--link-hover));
  }

  .unstyled {
    text-decoration: none;
  }

  .underlined {
    text-decoration: underline;
  }
}

a.unstyled {
  text-decoration: none;
}

a.underlined {
  text-decoration: underline;
}

a.no-hover:hover {
  color: unset;
}

iframe {
  border-radius: 8px;

  @media (--viewport-small) {
    border-radius: 0;
  }
}

code a {
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

blockquote {
  position: relative;
  margin-left: 0.5em;
  padding: 4px 0.5em 4px 1.2em;
  font-size: 0.95em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    background: var(--section-color);
    border-radius: 3px;
    height: 100%;
  }
}

.pull-quote {
  --size: 80px;
  --color: var(--color-yellow);
  /* font-family: var(--font-header); */
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3;
  padding: 1em 0 0;
  position: relative;

  &:before {
    content: "Highlight";
    display: block;
    font-family: var(--font-header);
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 4px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.2em;
    left: calc(-1 * var(--size) / 3);
    z-index: -1;
    height: var(--size);
    width: var(--size);
    background: var(--color);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.68 2.485a6 6 0 018.64 0l3.654 3.792a6 6 0 005.982 1.603l5.06-1.458a6 6 0 017.484 4.321l1.267 5.11a6 6 0 004.38 4.38l5.11 1.267a6 6 0 014.32 7.485l-1.457 5.06a6 6 0 001.603 5.98l3.792 3.654a6 6 0 010 8.642l-3.792 3.653a6 6 0 00-1.603 5.982l1.458 5.06a6 6 0 01-4.321 7.484l-5.11 1.267a6 6 0 00-4.38 4.38l-1.267 5.11a6 6 0 01-7.484 4.32l-5.06-1.457a6 6 0 00-5.982 1.603l-3.653 3.792a6 6 0 01-8.642 0l-3.653-3.792a6 6 0 00-5.982-1.603l-5.06 1.458a6 6 0 01-7.484-4.321l-1.267-5.11a6 6 0 00-4.38-4.38l-5.11-1.267a6 6 0 01-4.32-7.484l1.457-5.06a6 6 0 00-1.603-5.982l-3.792-3.653a6 6 0 010-8.642l3.792-3.653a6 6 0 001.603-5.982l-1.458-5.06a6 6 0 014.321-7.484l5.11-1.267a6 6 0 004.38-4.38l1.267-5.11a6 6 0 017.485-4.32l5.06 1.457a6 6 0 005.98-1.603l3.654-3.792z'/%3E%3C/svg%3E");
  }
}

ul {
  padding: 0;
  list-style-type: none;

  > li {
    margin-left: 1em;
  }

  > li:before {
    content: "–";
    margin-left: -1em;
    margin-top: -1px;
    float: left;
  }
}

ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  li {
    display: inline-block;
    margin-bottom: 0;
  }

  li:first-child {
    margin-left: 0;
  }

  li:before {
    display: none;
  }
}

ul.unstyled {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }

  li:before {
    display: none;
  }
}

ol {
  padding: 0;
  list-style: none;
  --offset: 1.5em;

  > li {
    margin-left: var(--offset);
    counter-increment: ol-counter;
    position: relative;
  }

  > li:before {
    content: counter(ol-counter) ". ";
    font-feature-settings: "tnum";
    padding-right: 0.5em;
    position: absolute;
    left: calc(-1 * var(--offset));
  }
}

.toc {
  h2 {
    font-size: 0.9rem;
  }

  > div {
    margin-top: 8px; 
  }

  > div > ul {
    list-style-type: none;
    margin: 8px 0 8px 4px;
    padding: 0 0 0 12px;
    border-left: 1px solid var(--color-border);
    font-size: 0.75em;
  }

  ul ul {
    margin: 4px 0 0 12px;
  }

  ul ul ul {
    display: none;
  }

  li {
    margin: 0;
  }

  li:before {
    display: none;
  }

  li + li {
    margin-top: 4px;
  }

  a {
    text-decoration: none;
  }

  a.selected {
    color: var(--section-color);
  }
}

.bookmark {
  max-width: none;
  overflow: hidden;
  border: 1px solid var(--color-border); 
  color: inherit;
  border-radius: 8px;
  --section-color: var(--color-text);

  &:hover {
    background: var(--color-gray--100);
  }

  img {
    width: 120px;
    height: 100%;
    object-fit: cover;
  }
}

.bookmark-loader {
  display: block;
  width: 100%;
  height: 120px;
  background: var(--color-gray--100);
  border-radius: 8px;
}

.callout aside {
  p:last-child {
    margin: 0;
  }
}