@import "./fonts.css";
@import "resetti";
@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./layout.css";
@import "./article.css";
@import "./sidebar.css";

:focus:not(:focus-visible) {
  outline: none;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--font-body);
  overflow: hidden;
  min-height: 100vh;
  background: var(--color-body-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header);

  a {
    --link-color: var(--color-header);
  }
}

a {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.25s;

  &:hover {
    color: var(--section-color, var(--link-hover));
  }

  .unstyled {
    text-decoration: none;
  }

  .underlined {
    text-decoration: underline;
  }
}

a.unstyled {
  text-decoration: none;
}

a.underlined {
  text-decoration: underline;
}

a.no-hover:hover {
  color: unset;
}


iframe {
  border-radius: 8px;

  @media (--viewport-small) {
    border-radius: 0;
  }
}

code a {
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

blockquote {
  position: relative;
  margin-left: 0.5em;
  padding: 4px 0.5em 4px 1.2em;
  font-size: 0.95em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    background: var(--section-color);
    border-radius: 3px;
    height: 100%;
  }
}

ul {
  padding: 0;
  list-style-type: none;

  > li {
    margin-left: 1em;
  }

  > li:before {
    content: "–";
    margin-left: -1em;
    margin-top: -1px;
    float: left;
  }
}

ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  li {
    display: inline-block;
    margin-bottom: 0;
  }

  li:first-child {
    margin-left: 0;
  }

  li:before {
    display: none;
  }
}

ul.unstyled {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }

  li:before {
    display: none;
  }
}

ol {
  padding: 0;
  list-style: none;
  --offset: 1.5em;

  > li {
    margin-left: var(--offset);
    counter-increment: ol-counter;
    position: relative;
  }

  > li:before {
    content: counter(ol-counter) ". ";
    font-feature-settings: "tnum";
    padding-right: 0.5em;
    position: absolute;
    left: calc(-1 * var(--offset));
  }
}

h2.marker {
  display: grid;
  grid-template-columns: auto minmax(20px, 1fr);
  align-items: center;
  width: calc(100% + 16px);
  margin-right: -16px;
  font-size: 0.8rem;

  span {
    color: var(--color-body-background);
    background: var(--color-accent, var(--section-color));
    border-radius: 999px;
    padding: 2px 16px;
  }

  &:after {
    content: '';
    border-top: 2px solid var(--color-accent, var(--section-color));
  }

  @media (--viewport-tiny) {
    width: 100%;
    margin-right: 0;
  }
}

.toc {
  h2 {
    font-size: 0.9rem;
  }

  > div {
    margin-top: 8px; 
  }

  ul {
    list-style-type: none;
    margin: 8px 0 8px 4px;
    padding: 0 0 0 12px;
    border-left: 1px solid var(--color-border);
    font-size: 0.75em;
  }

  ul ul {
    display: none;
  }

  li {
    margin: 0;
  }

  li:before {
    display: none;
  }

  li + li {
    margin-top: 4px;
  }

  a {
    text-decoration: none;
  }

  a.selected {
    color: var(--section-color);
  }
}

.bookmark {
  max-width: none;
  overflow: hidden;
  border: 1px solid var(--color-border); 
  color: inherit;
  border-radius: 8px;
  --section-color: var(--color-text);

  &:hover {
    background: var(--color-gray--100);
  }

  img {
    width: 120px;
    height: 100%;
    object-fit: cover;
  }

  .description {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.bookmark-loader {
  display: block;
  width: 100%;
  height: 120px;
  background: var(--color-gray--100);
  border-radius: 8px;
}

.callout aside {
  p:last-child {
    margin: 0;
  }

  background: repeating-linear-gradient(
    -55deg,
    var(--section-color),
    var(--section-color) 0.5px,
    var(--color-gray--100) 0.5px,
    var(--color-gray--100) 3px
  );
}