.logo-canvas-wrapper {
  position: relative;

  canvas {
    width: 32px;
    height: 32px;
    border-radius: 4px;
  }

  canvas + canvas {
    position: absolute;
    top: 0;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }
}

#site-header nav {
  a {
    display: block;
    position: relative;
  }

  a:hover {
    color: var(--highlight-color);
  }

  a.selected {
    color: var(--highlight-color);
    font-weight: bold;

    &:before {
      content: '';
      display: inline-block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: var(--highlight-color);
      margin-right: 6px;
      margin-left: -12px;
      transform: translateY(-1px);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  li {
    display: block;
    font-size: 0.75em;
  }

  li + li {
    margin-left: 0;
    margin-top: 6px;
  }
}