#site-header nav {  
  a {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid transparent; 
    padding: 16px 0 6px;
    margin-bottom: -1px;
  }

  a:hover {
    color: var(--highlight-color);

    &:after {
      transform: scaleX(1);
    }
  }

  a.selected {
    color: var(--highlight-color);
    font-weight: bold;
    border-bottom: 3px solid var(--highlight-color);
  }

  ul {
    width: calc(100% + (var(--layout-padding) * 2));
    margin-left: calc(var(--layout-padding) * -1);
    padding: 0 var(--layout-padding) 0;

    @media (--viewport-small) {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }

  li {
    display: inline-block;
    font-size: 0.75em;
  }

  li + li {
    margin-left: 20px;
    margin-top: 0;
  }
}