@each $space in 0, 1, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48 {
  .m-$(space) {
    margin: $(space)px !important;
  }

  .mx-$(space) {
    margin-right: $(space)px !important;
    margin-left: $(space)px !important;
  }

  .my-$(space) {
    margin-top: $(space)px !important;
    margin-bottom: $(space)px !important;
  }

  .mt-$(space) {
    margin-top: $(space)px !important;
  }

  .mr-$(space) {
    margin-right: $(space)px !important;
  }

  .mb-$(space) {
    margin-bottom: $(space)px !important;
  }

  .ml-$(space) {
    margin-left: $(space)px !important;
  }

  .p-$(space) {
    padding: $(space)px !important;
  }

  .px-$(space) {
    padding-right: $(space)px !important;
    padding-left: $(space)px !important;
  }

  .py-$(space) {
    padding-top: $(space)px !important;
    padding-bottom: $(space)px !important;
  }

  .pt-$(space) {
    padding-top: $(space)px !important;
  }

  .pr-$(space) {
    padding-right: $(space)px !important;
  }

  .pb-$(space) {
    padding-bottom: $(space)px !important;
  }

  .pl-$(space) {
    padding-left: $(space)px !important;
  }
}

@each $color in 0, 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .color-gray--$(color) {
    color: var(--color-gray--$(color));
  }
}

@each $color in red, yellow, blue, green, purple, caption {
  .color-$(color) {
    color: var(--color-$(color));
  }
}

.flow {
  & > * + * {
    margin-top: var(--flow-spacing);
  }
}

.smaller {
  font-size: smaller;
}

.tighter {
  line-height: 1.25;
}

.larger {
  font-size: larger;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: var(--font-body);
}

.serif {
  font-family: var(--font-header);
}

.mono {
  font-family: var(--font-code);
}

.hyphens {
  hyphens: auto;
}

.color-section {
  color: var(--section-color);
}

.badge {
  display: inline-block;
  vertical-align: top;
  font-size: 0.7rem !important;
  font-family: var(--font-body) !important;
  color: var(--color-body-background);
  background: var(--section-color);
  border-radius: 999px;
  padding: 3px 12px 4px;
  line-height: 1.2;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.align--flex-end {
  align-items: flex-end;
}

.align--center {
  align-items: center;
}

.flex--no-shrink {
  flex-shrink: 0;
}

.space-between {
  justify-content: space-between;
}

.dotted {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--dot-color);
    margin-right: 6px;
    margin-left: -12px;
    transform: translateY(-2px);
  }
}

.opacity-50 {
  opacity: 0.5;
}

.mobile-breakout {
  max-width: none;
  width: calc(100% + 32px);
  margin-left: -16px;
  border-radius: 0;

  @media (--viewport-tiny) {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}

.two-column {
  --min-width: 200px;
  display: grid;
  grid-gap: 2rem;

  @supports (width: min(var(--min-width), 100%)) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--min-width), 100%), 1fr)
    );
  }
}

.grid {
  --gap: 1rem;
  --item-min-size: 200px;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--item-min-size), 100%), 1fr));
}

.horizontal-scroll {
   --gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  > * {
    flex: 0 0 auto;
  }

  > * + * {
    margin-left: var(--gap);
  }
}

.eyebrow {
  color: var(--color-caption);
  font-size: .9rem !important;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}