@each $space in 0, 1, 2, 4, 6, 8, 12, 16, 20, 24, 32, 40, 48 {
  .gap-$(space) {
    gap: $(space)px;
  }

  .m-$(space) {
    margin: $(space)px !important;
  }

  .mx-$(space) {
    margin-right: $(space)px !important;
    margin-left: $(space)px !important;
  }

  .my-$(space) {
    margin-top: $(space)px !important;
    margin-bottom: $(space)px !important;
  }

  .mt-$(space) {
    margin-top: $(space)px !important;
  }

  .mr-$(space) {
    margin-right: $(space)px !important;
  }

  .mb-$(space) {
    margin-bottom: $(space)px !important;
  }

  .ml-$(space) {
    margin-left: $(space)px !important;
  }

  .p-$(space) {
    padding: $(space)px !important;
  }

  .px-$(space) {
    padding-right: $(space)px !important;
    padding-left: $(space)px !important;
  }

  .py-$(space) {
    padding-top: $(space)px !important;
    padding-bottom: $(space)px !important;
  }

  .pt-$(space) {
    padding-top: $(space)px !important;
  }

  .pr-$(space) {
    padding-right: $(space)px !important;
  }

  .pb-$(space) {
    padding-bottom: $(space)px !important;
  }

  .pl-$(space) {
    padding-left: $(space)px !important;
  }
}

@each $color in 0, 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .color-gray--$(color) {
    color: var(--color-gray--$(color));
  }

  .bg-gray--$(color) {
    background: var(--color-gray--$(color));
  }
}

@each $color in accent, caption {
  .color-$(color) {
    color: var(--color-$(color));
  }

  .bg-$(color) {
    background: var(--color-$(color));
  }
}

@each $radius in 4, 8, 12, 16 {
  .radius-$(radius) {
    border-radius: $(radius)px;
  }
}

.flow {
  & > * + * {
    margin-top: var(--flow-spacing);
  }
}

.smaller {
  font-size: smaller;
}

.tighter {
  line-height: 1.25;
}

.larger {
  font-size: larger;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: var(--font-body);
}

.serif {
  font-family: var(--font-header) !important;
}

.mono {
  font-family: var(--font-code);
}

.hyphens {
  hyphens: auto;
}

.color-section {
  color: var(--section-color);
}

.badge {
  display: inline-block;
  vertical-align: top;
  font-size: 0.7rem !important;
  font-family: var(--font-body) !important;
  color: var(--color-body-background);
  background: var(--section-color);
  border-radius: 999px;
  padding: 3px 12px 4px;
  line-height: 1.2;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;

  &.mobile-stack {
    flex-direction: column;

    @media (--viewport-tiny) {
      flex-direction: row;
    }
  }
}

.flex-column {
  flex-direction: column;
}

.align--flex-start {
  align-items: flex-start;
}

.align--flex-end {
  align-items: flex-end;
}

.align--center, .align-center {
  align-items: center;
}

.flex--no-shrink {
  flex-shrink: 0;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.dotted {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--dot-color);
    margin-right: 6px;
    margin-left: -12px;
    transform: translateY(-2px);
  }
}

.opacity-50 {
  opacity: 0.5;
}

.mobile-breakout {
  max-width: none;
  width: calc(100% + (var(--article-padding) * 2));
  margin-left: calc(var(--article-padding) * -1);
  border-radius: 0;

  @media (--viewport-tiny) {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}

.grid {
  --gap: 1rem;
  --item-min-size: 200px;
  display: grid;
  grid-gap: var(--gap);

  @supports (width: min(var(--min-width), 100%)) {
    grid-template-columns: repeat(
      auto-fit, 
      minmax(min(var(--item-min-size), 100%), 1fr)
    );
  }
}

.horizontal-scroll {
   --gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  > * {
    flex: 0 0 auto;
  }

  > * + * {
    margin-left: var(--gap);
  }
}

.eyebrow {
  color: var(--color-caption);
  font-size: .9rem !important;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.multi-column {
  --columns: 1;
  --min-column-width: ;
  --gap: 0;

  columns: var(--columns) var(--min-column-width);
  column-gap: var(--gap);

  > * {
    break-inside: avoid;
  }
}

a.button {
  &:hover {
    filter: brightness(0.9);
  }
}

h2.marker {
  display: grid;
  grid-template-columns: auto minmax(20px, 1fr);
  gap: 12px;
  align-items: center;
  font-size: 0.8rem;

  span {
    text-transform: uppercase;
    color: var(--color-caption);
    font-family: var(--font-code);
  }

  &:after {
    content: '';
    border-top: 1px dashed var(--color-border);
  }

  @media (--viewport-tiny) {
    width: 100%;
    margin-right: 0;
  }
}

.line-clamp {
  --lines: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
}

.highlight {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3;
  padding: 1em 0 0;
  position: relative;
  z-index: 1;

  &:before {
    content: "Highlight";
    display: block;
    font-family: var(--font-code);
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 0 8px;
    color: var(--color-caption);
  }
}

.card {
  position: relative;
  background: var(--color-gray--200);
  border-radius: 8px;
  border: 1px solid transparent;

  &:hover {
    color: var(--color-text);
    border: 1px solid var(--color-accent);
  }

  &:hover:before {
    opacity: 1;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--shadow-medium);
    opacity: 0;
    transition: opacity 300ms;
    border-radius: 8px;
  }
}