---
layout: layouts/html.njk
templateClass: note
---

<div class='wrapper'>
  <header>
    <h1 class='site-header'>
      <a href="/">chasem.co</a>
    </h1>

    <aside class='sidebar mobile'>
      {% set mobile = true %}
      {% include "sidebar.njk" %}
    </aside>
  </header>

  <main>
    {% if page.header %}
      <header class='prose' id='header'>
        {{ page.header | safe }}
      </header>
    {% endif %}

    <div>
      <div class="content">
        {{ content | safe }}
      </div>

      <aside class='sidebar desktop'>
        {% set mobile = false %}
        {% include "sidebar.njk" %}
      </aside>
    </div>
  </main>
</div>