---
layout: layouts/base.jsx
templateClass: note
---

<section class='prose'>
  <table-of-contents hidden>
    <h2>Table of Contents</h2>
  </table-of-contents>

  <article class="prose">
    {{ content | safe }}
  </article>
</section>