---
layout: layouts/base.njk
templateClass: blog post
---

{% slot 'header' %}
<div class='breadcrumbs mb-12'>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline">
      <circle cx="12" cy="12" r="10"></circle>
      <polyline points="12 6 12 12 16 14"></polyline>
    </svg>

    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </div>
</div>

<h1 class='font-header'>
  <a href="{{ url }}" class="unstyled">{{ title }}</a>
</h1>
{% endslot %}

<article class="prose">
  {{ content | safe }}
</article>

{% set previousPost = collections.posts | filterHidden | getPreviousCollectionItem(page) %}

{% set nextPost = collections.posts | filterHidden | getNextCollectionItem(page) %}

<nav class='pagination'>
  <ul class='unstyled'>
    {% if previousPost %}
      <li class='previous'>
        <a href="{{ previousPost.url }}" class='unstyled'>
          <span class='label'>Previous</span>
          <span>{{ previousPost.data.title }}</span></a>
      </li>
    {% endif %}

    {% if nextPost %}
      <li class='next'>
        <a href="{{ nextPost.url }}" class='unstyled'>
          <span class='label'>Next</span>
          <span>{{ nextPost.data.title }}</span>
        </a>
      {% endif %}
    </li>
  </ul>
</nav>