---
import BaseLayout from '../layouts/BaseLayout.astro';
import Archives from '../components/Archives.vue';
import { getFeaturedPosts, getYears } from '../utils';

const featuredPosts = await getFeaturedPosts();
const years = await getYears();

const headerHtml = '<h1>404</h1>';
---
<BaseLayout
  templateClass="note"
  header={headerHtml}
>
  <p>Sorry! That page doesn't seem to exist. Broken URLs aren't cool, so please <a href="mailto:hi@chsmc.org">let me know how you got here</a>. And in the mean time, you might enjoy browsing the archives below.</p>

  <br />

  <div style="margin: 1rem 0 0;">
    <Archives featuredPosts={featuredPosts} years={years} />
  </div>
</BaseLayout>
