---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostPreview from '../components/BlogPostPreview.vue';
import { getPosts } from '../utils/collections';
import { titleize } from '../utils/filters';

const allPosts = await getPosts();
const hiddenPosts = allPosts.filter(p => p.data.hidden).reverse();
---
<BaseLayout
  title="Backstage"
  templateClass="Blog"
>
  <div class="prose">
    <div class="Breadcrumbs mb-12">
      <a href="/" class="bold">Home</a>
    </div>

    <h1 class="font-header">
      <a href="/backstage" class="unstyled">Backstage</a>
    </h1>

    <h2>Drafts</h2>

    <div class="flex flex-column" style="gap: 1em;">
      {hiddenPosts.map(post => (
        <BlogPostPreview
          title={post.data.title || titleize(post.id.split('/').pop() || post.id)}
          date={post.date}
          permalink={post.permalink}
        />
      ))}
    </div>
  </div>
</BaseLayout>
