---
import BaseLayout from '../layouts/BaseLayout.astro';
import blogroll from '../data/blogroll';
import { getPosts, getFeaturedPosts, getPostsByYear } from '../utils/collections';
import { htmlDateString, shortDate, titleize } from '../utils/filters';

const allPosts = await getPosts();
const hiddenPosts = allPosts.filter(p => p.data.hidden).reverse();
const featuredPosts = await getFeaturedPosts();
const postsByYear = await getPostsByYear();
---
<BaseLayout
  title="Backstage"
  templateClass="Blog"
  featuredPosts={featuredPosts}
  postsByYear={postsByYear}
  blogroll={blogroll}
>
  <div class="prose">
    <div class="Breadcrumbs mb-12">
      <a href="/" class="bold">Home</a>
    </div>

    <h1 class="font-header">
      <a href="/backstage" class="unstyled">Backstage</a>
    </h1>

    <h2>Drafts</h2>

    <div class="flex flex-column" style="gap: 1em;">
      {hiddenPosts.map(post => (
        <a href={post.permalink} class="unstyled block Blog__postPreview">
          <div>
            <h3 style="margin: 0;">
              <span>{post.data.title || titleize(post.id.split('/').pop() || post.id)}</span>&nbsp;<time datetime={htmlDateString(post.date!)}>{shortDate(post.date!)}</time>
            </h3>
          </div>
        </a>
      ))}
    </div>
  </div>
</BaseLayout>
