---
title: Design Systems
permalink: /design-systems/
layout: layouts/design-systems.njk
css: design-systems.css
---

<header>
  <div class='title'>
    <h1>Journal of system design</h1>
    <p>A collection of knowledge gathered over the span of my career.</p>
  </div>

  <div class='byline'>by Chase McCoy</div>
</header>

<main>
  <p>I've built thriving design systems for Sprout Social and Stripe.</p>

  <section class='toc'>
    <h2>Generals</h2>
    <ul>
      <li>
        <a href="/design-systems/definition">What is a design system?</a>
      </li>
      <li>The systems mindset</li>
      <li>On being a librarian</li>
      <li>Building a ladder</li>
    </ul>

    <h2>Specifics</h2>
    <ul>
      <li>Creating a language</li>
      <li>
        <a href="#">Design tokens</a>
      </li>
      <li>Continuous delivery</li>
      <li>Building community</li>
      <li>Something else</li>
    </ul>

    <h2>Influences and inspiration</h2>
    <ul>
      <li>
        <a href="#">Here's the first thing</a>
      </li>
      <li>Something</li>
      <li>Something else</li>
      <li>Something else</li>
    </ul>
  </section>
</main>