.blog .content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.year {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 1.5rem;
  }

  @include small {
    flex-direction: row;
    gap: 2rem;
    margin-left: -0.25em;

    h2 {
      display: block;
      min-width: 4ch;
      text-align: right;
      line-height: 1;
      flex-shrink: 0;
      transform: translateY(-3px);
    }
  }
}

.blog .post-preview {
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }

  h3 {
    white-space: nowrap;
    font-size: 1.15rem;
    line-height: 1.25;
    color: inherit;
    font-weight: normal;
  }

  h3 span {
    white-space: normal;
  }

  h3 time {
    color: var(--color-caption);
    font-family: var(--font-code);
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0px;
    position: relative;
    display: inline-block;
    margin-left: 4px;
  }
}

.blog.post .post-pagination {
  border-top: 1px solid var(--color-border);
  margin-inline: -8px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include small {
      flex-direction: row;
    }
  }

  li {
    flex-basis: 50%;
    flex-grow: 1;
  }

  @include small {
    .previous-post + .next-post {
      text-align: right;
      border-left: 1px solid var(--color-border);
    }
  }

  li a {
    display: flex;
    gap: 2px;
    flex-direction: column;
    color: var(--color-text);
    padding: 12px 8px 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-offset);
    }
  }

  span.label {
    @extend time;
    font-size: 0.7rem;
    color: var(--color-caption);
  }
}
