@use 'theme' as *;

html {
  overflow-y: scroll;
  line-height: var(--root-line-height);
  background-color: var(--color-body-background);
}

body {
  --canvasHeight: 50vh;
  --gridSize: 12;
  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: 500;

  // Whiteney features
  // ss11: Non-descending uppercase "Q"
  // ss08: Double-storey lowercase italic "g"
  // ss09: Double-storey lowercase italic "a"
  font-feature-settings: "ss11", "ss08", "ss09";
}

canvas { 
  display: block; 
  width: 100%; 
  height: var(--canvasHeight); 
  // border-radius: 6px;
  grid-column: 1 / -1;
  background: #014445;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#paperFilter);
  opacity: 20%;
  pointer-events: none;
  z-index: -1;
}

.wrapper > header {
  display: block;
  min-height: 10dvh;
  align-items: center;
  position: relative;
  --cellSize: calc(var(--canvasHeight) / var(--gridSize));
  position: sticky;
  top: calc((var(--canvasHeight) / var(--gridSize)) * (-1 * var(--gridSize) + 1));
  z-index: 1000; 

  h1, p {
    position: absolute;
    background: var(--color-accent-secondary);
    z-index: 99999;
    height: var(--cellSize);
    padding-inline: 0.5em;
    min-width: calc(var(--cellSize) * 3);
  }

  h1 {
    display: flex;
    align-items: center;
    top: calc(var(--cellSize) * 2);
    left: calc(var(--cellSize) * 4);
    padding-inline: 0.5em;
  }

  p {
    display: flex;
    align-items: center;
    text-wrap: pretty;
    background: var(--color-body-background);
    width: calc(var(--cellSize) * 11);
    height: calc(var(--cellSize) * 2);
    top: calc(var(--cellSize) * 5);
    left: calc(var(--cellSize) * 10);
    padding: 0.5em 1em;
    font-size: 0.9rem;
  }

  nav {
    position: absolute;
    height: calc(var(--cellSize) * 1);
    top: calc(var(--cellSize) * 9);
    left: calc(var(--cellSize) * 5);
    z-index: 99999;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: var(--cellSize);    
  }

  nav ul li {
    display: flex;
    align-items: center;
    background: var(--color-body-background);
  }

  nav ul li:first-child {
    width: calc(var(--cellSize) * 2);
  }

  nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    // color: var(--color-accent-secondary);
    text-transform: uppercase;
    width: calc(var(--cellSize) * 3);
    padding: 0.5em 0.8em 0.4em;
    height: calc(var(--cellSize) * 1);
    background: var(--color-accent);
    background: var(--color-body-background);
    background: #2A8081;
    font-weight: bold;
    font-size: 0.8rem;
  }

  nav a:hover {
    background: var(--color-accent);
  }

  body:not(.post) & time {
    display: none;
  }
}

h1.site-header a {
  width: fit-content;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header);

  &.unstyled {
    font-size: 1rem;
    line-height: var(--root-line-height);
  }
}

a {
  --link-underline-color: var(--color-accent-secondary);
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.2s;
  text-decoration-thickness: var(--text-decoration-thickness, 0.75px);
  text-decoration-color: var(--link-underline-color);
  text-underline-offset: var(--text-decoration-offset, 0.15em);

  &:hover {
    // --link-underline-color: var(--link-hover);
    color: var(--link-hover);
    // background: var(--color-accent-secondary);
  }

  &.unstyled {
    text-decoration: none;
  }

  &.underlined {
    text-decoration: underline;
  }
}

a.unstyled {
  text-decoration: none;
}

a.underlined {
  text-decoration: underline;
}

a.no-hover:hover {
  color: unset;
}

iframe {
  border-radius: 8px;

  @include small {
    border-radius: 0;
  }
}

code a {
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

blockquote:not(.unstyled) {
  font-family: var(--font-serif);
  // font-style: italic;
  color: var(--color-caption);
  padding-left: 1em;
  font-size: 1.2rem;
  line-height: 1.45;
  text-wrap: pretty;

  @include small {
    padding-left: 0;
  }

  & > p:first-of-type:before {
    content: '“';
    font-size: 1.4em;
    line-height: 0;
    margin-left: -0.7em;
    margin-right: 0.3em;
    color: var(--color-accent);
    display: inline-block;
    position: relative;
    top: 6px;
  }

  cite {
    display: block;
    font-size: 0.8rem;
    margin-top: -0.5em;
    font-family: var(--font-code);
    color: var(--color-caption);
    --link-color: var(--color-caption);

    a {
      text-decoration: none;
    }
  }

  cite:before {
    content: '↑ ';
  }
}

mark {
  background-color: var(--color-highlight);
  background-image: linear-gradient(
    to right,
    var(--color-highlight-dark) 0%,
    var(--color-highlight) 100%
  );
  border-radius: 0.5em 0.3em;
  box-decoration-break: clone;
  margin: 0 -0.25em;
  padding: 0.15em 0.25em;
}

ul {
  --padding: 1.5em;
  padding: 0;
  list-style-type: none;

  > li {
    margin-left: var(--padding);
  }

  > li:before {
    content: '⁕';
    margin-left: calc(-1 * var(--padding));
    margin-top: -2.5px;
    float: left;
    color: var(--color-accent-secondary);
  }
}

ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  li {
    display: inline-block;
    margin-bottom: 0;
  }

  li:first-child {
    margin-left: 0;
  }

  li:before {
    display: none;
  }
}

ul.unstyled {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }

  li:before {
    display: none;
  }
}

ol {
  padding: 0;
  list-style: none;
  --offset: 1.5em;

  > li {
    margin-left: var(--offset);
    counter-increment: ol-counter;
    position: relative;
  }

  > li:before {
    content: counter(ol-counter) '. ';
    font-feature-settings: 'tnum';
    padding-right: 0.5em;
    position: absolute;
    left: calc(-1 * var(--offset));
  }
}

time {
  // font-family: var(--font-body);
  // font-size: 0.95rem;
  color: var(--color-caption);
}

.pagination {
  border-top: 4px solid var(--color-offset);
  margin: 3rem 0 0;
  margin-inline: calc(-1 * var(--layout-padding));

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include small {
      flex-direction: row;
    }
  }

  li {
    flex-basis: 50%;
    flex-grow: 1;
  }

  @include small {
    .previous + .next {
      text-align: right;
      border-left: 4px solid var(--color-offset);
    }
  }

  li a {
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    padding: 1rem var(--layout-padding);
    transition: background-color 0.2s;
    height: 100%;
    min-height: 56px;

    &:hover {
      background-color: var(--color-offset);
    }
  }

  span.label {
    @extend time;
    color: var(--color-caption);
  }
}
