.home .blog {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: -0.5rem;

  header {
    display: grid;
    gap: 0.75rem;
  }

  article > time {
    display: block;
    margin-bottom: -0.5rem;
  }

  article.long-form + article.long-form {
    margin-top: 3rem;
  }

  article.long-form:after {
    content: ':::';
    color: var(--color-border);
    margin-top: 1rem;
    font-size: 1.2rem;
    display: block;
  }
}

.home .pagination {
  margin-top: 6rem;
}
