.home .blog {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  header {
    display: grid;
    gap: 0.75rem;
  }

  article > time {
    display: block;
    margin-bottom: -0.5rem;
  }
}

.home .pagination {
  margin-top: 6rem;
}
