@use 'theme' as *;

:root {
  --layout-padding: 1rem;

  // @include small {
  //   --layout-padding: 3.5rem;
  // }

  // @include medium {
  //   --layout-padding: 5rem;
  // }
}

body {
  min-height: 100vh;
}

.wrapper {
  --gap: 1.5rem;
  width: fit-content;
  grid-column: content;
  display: grid;
  row-gap: 80px;
  width: 100%;
}

.wrapper > header, 
.wrapper > main {
  display: grid;
  grid-template-columns: [content-start sidebar]minmax(
    0,
    calc(var(--content-width) + 2 * var(--layout-padding))
  ) [sidebar-end content-end];
  column-gap: var(--gap);
  // padding: var(--layout-padding);
  
  @include small {
    grid-template-columns:
      minmax(0, 10vw)
      [content-start] minmax(
        0,
        calc(var(--content-width) + 2 * var(--layout-padding))
      )
      [content-end]
      1fr;
  }
}

main {
  min-width: 0;
  // mix-blend-mode: multiply;
}

main > .content, 
header > div {
  grid-column: content;
}

.sidebar {
  grid-column: sidebar;
}