:root {
  --layout-padding: 1rem;

  @include small {
    --layout-padding: 1.5rem;
  }
}

body {
  padding: var(--layout-padding);
  min-height: 100vh;

  @include small {
    padding-block: 3rem;
  }
}

body > header {
  max-width: calc(var(--content-width) + var(--sidebar-width) + 64px);
  margin: 0 auto 1rem;

  > div {
    max-width: var(--content-width);
  }
}

main {
  padding-bottom: 48px;
  margin: auto;
  display: flex;
  gap: 64px;
  width: fit-content;
}

main > .content {
  max-width: var(--content-width);
}

main > .sidebar {
  width: var(--sidebar-width);
}
