:root {
  --layout-padding: 1rem;

  @include small {
    --layout-padding: 1.5rem;
  }
}

body {
  padding: var(--layout-padding);
  min-height: 100vh;

  @include small {
    padding-block: 3rem;
  }
}

.wrapper {
  max-width: calc(var(--content-width) + var(--sidebar-width) + 64px);
  margin: 0 auto;
}

main > div {
  padding: 1rem 0 48px;
  margin: auto;
  display: flex;
  gap: 64px;
  width: 100%;
}

#header,
main .content {
  max-width: 100%;
  flex-grow: 1;

  @include small {
    max-width: var(--content-width);
  }
}

.sidebar.mobile {
  display: flex;
  margin-bottom: 2rem;
  max-width: 100%;

  @include small {
    display: none;
  }
}

.sidebar.desktop {
  display: none;
  max-width: var(--sidebar-width);

  @include small {
    display: flex;
  }
}
