@mixin tiny {
  @media (min-width: 550px) {
    @content;
  }
}

@mixin small {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}

:root,
::after,
::before {
  --root-font-size: 16px;
  --root-line-height: 1.6;

  --content-width: 38rem;
  --sidebar-width: 19rem;
  --heading-scale: 1;
  --text-decoration-thickness: 2px;

  --test: hsl(358, 100%, 85%);
  --test2: hsl(267, 100%, 92%);

  --color-accent: hsl(21, 98%, 76%);
  --color-accent-subdued: hsl(196, 90%, 95%);
  --link-color: var(--color-accent);
  --link-hover: hsl(196, 100%, 40%);
  --color-body-background: #fff;
  --color-text: hsl(196, 2%, 20%);
  --color-header: hsl(196, 5%, 25%);
  --color-border: hsl(196, 10%, 85%);
  --color-caption: hsl(196, 5%, 50%);
  --color-offset: hsl(196, 10%, 97%);
  --color-chat-bubble: hsl(196, 5%, 95%);

  --color-highlight: hsl(51, 100%, 84%);
  --color-highlight-dark: hsl(50, 100%, 67%);

  --sky: linear-gradient(
    to bottom,
    rgb(123, 169, 213) 0%,
    rgb(123, 170, 214) 2%,
    rgb(124, 170, 214) 4%,
    rgb(125, 171, 214) 6%,
    rgb(126, 172, 215) 8%,
    rgb(127, 173, 215) 10%,
    rgb(128, 174, 216) 12%,
    rgb(129, 175, 216) 14%,
    rgb(131, 176, 217) 16%,
    rgb(132, 177, 217) 18%,
    rgb(134, 179, 218) 20%,
    rgb(135, 180, 218) 22%,
    rgb(137, 182, 219) 24%,
    rgb(139, 183, 220) 26%,
    rgb(142, 185, 220) 28%,
    rgb(144, 187, 221) 30%,
    rgb(147, 189, 222) 32%,
    rgb(255, 255, 255) 95%,
    rgb(255, 255, 255) 100%
  );


  --font-code: 'JetBrains Mono', ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-body: Whitney, Brunswick Grotesque, Verdana, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: 'Sentinel', 'Source Serif 4', Georgia, Times, Times New Roman, serif;
  --font-header: var(--font-serif);
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  @media (prefers-color-scheme: dark) {
    --color-accent: hsl(196, 100%, 52%);
    --link-hover: hsl(196, 100%, 44%);
    --color-body-background: hsl(196, 40%, 5%);
    --color-text: hsl(196, 10%, 75%);
    --color-header: var(--color-text);
    --color-border: hsl(196, 40%, 18%);
    --color-caption: hsl(196, 8%, 48%);
    --color-offset: hsl(196, 30%, 9%);
    --color-chat-bubble: hsl(196, 30%, 11%);

    --color-highlight: hsl(51, 100%, 65%);
    --color-highlight-dark: hsl(50, 100%, 45%);
  }
}
