:root {
  --flow-spacing: 1.1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-size: 1em;
}

.prose {
  font-family: var(--font-serif);
  font-size: 1.2rem;

  & > * + * {
    margin-top: var(--flow-spacing);
  }

  & li + li {
    margin-top: 0.4rem;
  }

  /* Spacing between first and second paragraph in list items */
  & li > p + p {
    margin-top: 0.25rem;
  }

  /* Spacing between other paragraphs in list items */
  & li > p:not(:first-of-type) + p {
    margin-top: 0.75rem;
  }

  /* More spacing between list items if they contain full paragraphs */
  & li + li > p:first-child {
    margin-top: 0.75rem;
  }

  blockquote {
    margin: 2rem 0 1.8rem;
  }

  :where(blockquote > * + *) {
    margin-top: var(--flow-spacing);
  }

  a.button {
    margin-block: 0.75rem 0;
  }

  a.button:last-child {
    margin-bottom: 0;
  }

  :where(h2 + *:not(:is(ol, ul))),
  :where(h3 + *:not(:is(ol, ul))),
  :where(h4 + *:not(:is(ol, ul))),
  :where(h5 + *:not(:is(ol, ul))),
  :where(h6 + *:not(:is(ol, ul))) {
    margin-top: 0.6em;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.5em;
    line-height: 1.2;
    font-family: var(--font-header);
    font-weight: normal;
  }

  :where(h4, h5, h6) {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.5;
  }

  h1 {
    margin-top: 0;
    font-size: calc(2.25rem * var(--heading-scale, 1));
    line-height: 1.2;
  }

  h1 + .lead {
    margin-top: 0.5em;
  }

  h2 {
    margin-top: 1.6em;
    font-size: calc(1.8rem * var(--heading-scale, 1));
  }

  header + h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 1.6em;
    font-size: calc(1.4rem * var(--heading-scale, 1));
  }

  h4 {
    font-size: calc(1.1rem * var(--heading-scale, 1));
  }

  h5 {
    font-size: calc(0.85rem * var(--heading-scale, 1));
  }

  h6 {
    font-size: calc(0.75rem * var(--heading-scale, 1));
  }

  :where(h1, h2, h3, h4, h5, h6) + :where(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.2em;
  }

  hr {
    margin: 2rem 0;
  }

  p > img,
  figure {
    margin-block: 2rem;
  }

  .caption,
  figure > * + figcaption {
    font-family: var(--font-body);
    margin-top: 0.6rem;
    font-size: 1rem;
  }

  li > ul,
  li > ol {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0;
  }

  table {
    width: 100%;
  }

  thead {
    text-align: left;
  }

  td,
  th {
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
    font-feature-settings: 'tnum';
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: calc(0.75rem - 1px);
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  :where(h1, h2, h3, h4, h5, h6) + p > book-mark {
    margin-top: 1.25rem;
  }

  p > br + book-mark {
    margin-top: 0;
  }

  small {
    color: var(--color-caption);
  }
}
