@each $space in 0, 1, 2, 4, 6, 8, 12, 16, 20, 24, 32, 40, 48 {
  .mb-#{$space} {
    margin-bottom: #{$space}px !important;
  }
}

@each $color in accent, caption {
  .color-#{$color} {
    color: var(--color-#{$color});
  }
}

.flow {
  & > * + * {
    margin-top: var(--flow-spacing);
  }
}

.smaller {
  font-size: smaller;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: var(--font-body) !important;
}

.serif {
  font-family: var(--font-header) !important;
}

.mono {
  font-family: var(--font-code) !important;
}

.font-header {
  font-family: var(--font-header);
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.line-clamp {
  --lines: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
}

.lead {
  font-size: 1.1em;
}

.pixelated {
  image-rendering: pixelated;
}

.invert-for-light-mode {
  @media (prefers-color-scheme: light) {
    filter: invert(1);
  }
}