@import 'reset';
@import 'theme';
// @import 'typography';
// @import 'article';

html,
body {
  height: 100%;
  font-family: var(--font-system);
  background: var(--color-body-background);
}

main {
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
}

.workspace {
  display: flex;
  height: 100%;
  overflow: auto;

  .sidebar {
    flex-basis: 25vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-right: 1px solid var(--color-border);
    font-size: 0.9rem;
  }

  .editor-area {
    flex-grow: 1;
  }

  #editor {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 1rem;
    background: none;
    font-family: var(--font-code);
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 72ch;
    margin: 0 auto;

    &:focus {
      outline: none;
    }
  }
}

#file-list,
#drafts-list {
  padding: 0;
  list-style-type: none;

  button {
    appearance: none;
    all: unset;
    display: block;
    cursor: pointer;
    width: 100%;
    line-height: 1.2;
    padding: 4px 0;
  }

  button:hover,
  button[data-active] {
    background: var(--color-offset);
  }
}
