@import 'reset';

@mixin desktop {
  @media (min-width: 700px) {
    @content;
  }
}

/* FONTS ---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,400;1,8..60,700&display=swap');

@font-face {
  font-family: 'Hex Franklin';
  src: url('/fonts/hex-franklin/HEX_Franklin-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hex Franklin';
  src: url('/fonts/hex-franklin/HEX_Franklin-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivar Text';
  src: url('/fonts/ivar-text/IvarText-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

/* THEME ---------------------------------------- */

:root {
  --color-accent-primary: #327039;
  --color-accent-primary-secondary: #dd5c36;
  --color-surface: #fafaf0;
  --color-text: #3f3e25;
  --color-caption: #91917d;

  --padding-layout-x: 1rem;

  @include desktop {
    --padding-layout-x: 2rem;
  }
}

/* GLOBALS -------------------------------------- */

html,
body {
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Source Serif 4', Ivar Text, Berkeley Mono, monospace;
  background-color: var(--color-surface);
  color: var(--color-text);
  overflow-x: clip;
  background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
  background-repeat: repeat;
  background-size: 300px;
}

body {
  min-height: 100vh;
  padding: 0 var(--padding-layout-x) 4rem var(--padding-layout-x);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  font-family: Hex Franklin, 'Warbler Deck v1.2';
  color: var(--color-accent-primary);
  text-wrap: balance;

  a {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    margin-right: -4px;
    background-color: #f6edd0;
    border-radius: 2vw;
    text-decoration: none;
  }
}

h2 {
  font-size: 2rem;
  font-family: Hex Franklin, 'Warbler Deck v1.2';
  color: var(--color-accent-primary);

  @include desktop {
    font-size: 2.75rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-family: Hex Franklin, 'Warbler Deck v1.2';
}

a {
  color: var(--color-accent-primary);
}

.layout-wrapper {
  max-width: 64rem;
  margin: 0 auto;
  overflow: clip;
}

header {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > span {
    color: var(--color-accent-primary);
    font-size: 1.4rem;
    font-family: Caveat;
    color: #dd5c36;
  }

  .contact {
    font-family: Hex Franklin;
    color: var(--color-caption);
    font-size: 1.4rem;
    max-width: 45rem;

    a {
      color: inherit;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  > portfolio-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: calc(var(--scroll-header-height, 0) - 4px);
    background-color: var(--color-surface);
    padding-block: calc(0.75rem + 4px) 0.75rem;
    border-bottom: 3px solid var(--color-accent-primary);
    z-index: 10;

    &:before {
      content: '';
      background-color: var(--color-surface);
      position: absolute;
      bottom: 0;
      height: calc(100% + var(--scroll-header-height));
      width: 200vw;
      left: -100%;
      z-index: -1;
      // background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
      // background-repeat: repeat;
      // background-size: 100px;
      background-image: url('https://www.transparenttextures.com/patterns/natural-paper.png');
      background-repeat: repeat;
      background-size: 300px;
    }
  }

  > portfolio-item-content {
    columns: 2 20em;
    column-gap: 2.5rem;

    p {
      text-align: justify;
      hyphens: auto;
      text-indent: 1.5em;

      &:first-of-type {
        text-indent: 0;
      }
    }

    & + image-gallery {
      margin-top: 0.75rem;
    }
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: Caveat;
    font-weight: normal;
    color: #dd5c36;
    font-size: 2.5rem;

    &:before {
      content: 'Project';
      font-size: 0.9rem;
      color: var(--color-caption);
      font-family: Hex Franklin, Caveat;
      font-weight: normal;
    }
  }

  dl {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    grid-template-rows: auto auto;
    column-gap: 3rem;
    // position: relative;
    // top: 4px;

    dt {
      grid-row-start: 1;
      font-size: 0.75rem;
      color: var(--color-caption);
      font-family: Hex Franklin;
    }

    dd {
      grid-row-start: 2;
      font-family: Caveat;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }
}

ul {
  padding: 0;
  list-style-type: none;

  > li {
    margin-left: 1.25em;
  }

  > li:before {
    content: '◆';
    margin-left: -1.25em;
    margin-top: -1px;
    float: left;
    color: var(--color-accent-primary);
  }
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: var(--image-column-width);

  img {
    max-width: 50rem;
    max-height: 300px;
    z-index: 1;

    @include desktop {
      max-width: 50rem;
      max-height: 380px;
    }

    &.shadow {
      filter: drop-shadow(0px 5.507px 16.521px rgba(0, 0, 0, 0.08));
    }
  }

  figcaption {
    background-color: var(--color-surface);
    padding: 4px;
    margin: -4px;
    font-size: 0.75rem;
    color: var(--color-caption);
    min-width: 20ch;
    max-width: 60ch;
    font-family: Hex Franklin;
  }
}

/* COMPONENTS ----------------------------------- */

image-gallery {
  display: flex;
  align-items: center;
  gap: 4rem;
  min-width: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5rem 1rem 1.5rem 3rem;
  max-width: calc(100% + (var(--padding-layout-x) * 2));
  margin-inline: calc((var(--padding-layout-x) * -1));
  border: 1px solid #dcdcd0;
  border-right: none;
  border-left: none;
  background-image: radial-gradient(#cfcfbd 1px, transparent 0);
  background-position: -20px;
  background-size: 20px 20px;

  @include desktop {
    margin-inline: 0;
    border-radius: 16px;
    max-width: 100%;
    border: 1px solid #dcdcd0;
  }

  &:not(.no-overflow):after {
    content: 'Scroll for more';
    background-image: url('/images/portfolio/squiggle.svg');
    display: flex;
    align-items: center;
    min-width: 180px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 100% 60%;
    font-size: 1.25rem;
    font-family: Caveat;
    font-weight: normal;
    color: var(--color-caption);
    position: sticky;
    right: 0px;
    top: 0;
    align-self: flex-start;
  }

  > figure {
    margin-top: 2rem;

    &:last-child {
      // Make sure the pseudo element isn't occupying extra space
      margin-right: calc(-180px - 2rem);
    }
  }
}

#scroll-header {
  &.hidden {
    transform: translateY(calc(-100% - 1px));
  }

  transform: translateY(0);
  transition: transform 0.2s;
  z-index: 100;
  background-color: var(--color-accent-primary);
  color: var(--color-surface);
  position: sticky;
  top: 0;
  font-size: 0.75rem;
  padding: 0.25rem 0.7rem;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Hex Franklin;

  h1 {
    // font-size: 1.3rem;
    font-size: 1em;
    color: var(--color-surface);
    // font-family: Caveat;
    font-weight: normal;
  }

  a {
    color: var(--color-surface);
    text-decoration: none;
    font-family: Hex Franklin;
  }
}

/* UTILITIES ------------------------------------ */

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.handwriting {
  font-size: 1.3rem;
  color: #dd5c36;
  font-family: Caveat;
  font-weight: normal;

  a {
    color: inherit;
    text-decoration-thickness: 2px;
  }
}
