:root {
  --color-body-background: rgb(0, 0, 0, 0.95);
  --color-text: white;
}

body > header {
  display: none;
}

main {
  padding: 0;
  font-family: var(--font-header);
}

main .wrapper {
  max-width: none;
  margin: 0;
}

.books {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2px;
  // flex-wrap: nowrap;
  // overflow-x: auto;
  // gap: 1.5rem;
  // align-items: flex-end;
  // margin-inline: -100vw;
  // padding-inline: 100vw;
  // padding-block: 1.5rem;
  // -webkit-overflow-scrolling: touch;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // > a {
  //   width: 220px;
  //   flex: 0 0 auto;
  //   overflow: hidden;
  //   box-shadow: var(--shadow-large);
  // }

  // > a:nth-of-type(2n) {
  //   transform: rotate(2deg) translateY(16px);
  // }

  // > a:nth-of-type(3n) {
  //   transform: rotate(-2deg);
  // }

  // > a:nth-of-type(3n + 1) {
  //   transform: rotate(4deg);
  // }

  // > a:first-child {
  //   transform: rotate(-2deg);
  // }

  a img {
    object-fit: cover;
    height: 100%;
  }
}
