@use 'reset';
@use 'theme' as *;

// Base styles
@use 'base/elements';
@use 'base/typography';

// Layout
@use 'layout/Wrapper';
@use 'layout/Content';
@use 'layout/Sidebar';

// Components
@use 'components/index';

// Utilities
@use 'utilities';

// Syntax highlighting
@use 'prism';
