---
layout: layouts/page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% slot 'header' %}
<h1>
 404
</h1>
{% endslot %}

<div style='margin: 1rem 0 0;'>
  {% include "archives.njk" %}
</div>