---
layout: layouts/page.njk
templateClass: blog archive
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: "{{ year }}/index.html"
---

{% set posts = collections.postsByYear[year] | reverse %}

{% slot 'header' %}
<div class='breadcrumbs mb-12'>
  <span>Archives</span>
</div>

<h1 class='font-header color-accent mb-16'>
  {{year}}
</h1>
{% endslot %}

<div class='flex flex-column' style='gap: 12px;'>
  {% for post in posts %}
    {% if post.data.title %}
      <a href="{{post.url}}" class='unstyled block post-preview'>
        <h3>
          <span>{{ post.data.title }}</span>&nbsp;<time datetime="{{ post.date | htmlDateString }}">{{ post.date | shortDate }}</time>
        </h3>
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class='flex flex-column notes' style='gap: 64px;'>
  {% for post in posts -%}
    {% if not post.data.title -%}
      <article class='prose'>
        <time datetime="{{ post.date | htmlDateString }}">
          <a href="{{post.url}}" class='unstyled color-caption block'>{{ post.date | shortDate }}</a>
        </time>
        {{ post.content | safe }}
      </article>
    {%- endif %}
  {%- endfor %}
</div>