---
title: Archive
layout: layouts/page.njk
templateClass: blog
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: "{{ year }}/index.html"
---

{% set posts = collections.postsByYear[year] %}

{% slot 'header' %}
<div class='breadcrumbs mb-12'>
  <span>Archives</span>
</div>

<h1 class='font-header color-accent mb-16'>
  {{year}}
</h1>
{% endslot %}

<div class='flex flex-column gap-12' style='gap: 12px;'>
  {% for post in posts | reverse %}
    <a href="{{post.url}}" class='unstyled block post-preview'>
      <div>
        {% if post.data.title %}
          <h3>
            <span>{{ post.data.title }}</span>&nbsp;<time datetime="{{ post.date | htmlDateString }}">{{ post.date | shortDate }}</time>
          </h3>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>