---
title: Blog
layout: layouts/page.njk
#permalink: /blog/
templateClass: blog
---

{% set years = collections.posts | filterHidden | groupByYear | keys | reverse %}

{% set postsByYear = collections.posts | filterHidden | groupByYear %}

{% slot 'header' %}
<div class='breadcrumbs mb-12'>
  <a href='/' class='bold'>Chase M.</a>
  <a href='/blog'>Blog</a>
</div>
{% endslot %}

{% for year in years %}
  <div class='year'>
    <h2 class='color-accent font-header'>{{year}}</h2>
    {% set posts = postsByYear[year] %}
    <div class='flex flex-column gap-12' style='gap: 12px;'>
      {% for post in posts | reverse %}
        <a href="{{post.url}}" class='unstyled block post-preview'>
          <div>
            {% if post.data.title %}
              <h3>
                <span>{{ post.data.title }}</span>&nbsp;<time datetime="{{ post.date | htmlDateString }}">{{ post.date | shortDate }}</time>
              </h3>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}