---
title: Faulkner
permalink: /faulkner/
layout: 'layouts/base.njk'
css: blogger.css
js: blogger
---

<script src="/js/ace/ace.js"></script>

<header>
  <h1>Faulkner</h1>

  <div class='toolbar'>
    <button id='pick-directory'>Choose folder</button>
    <button id='save' hidden>Save</button>
  </div>
</header>

<div class='workspace'>
  <div class='sidebar'>
    <div>
      <h2>In progress</h2>
      <ul id='drafts-list' class='unstyled'></ul>
    </div>

    <div>
      <h2>Published</h2>
      <ul id='file-list' class='unstyled'></ul>
    </div>
  </div>
  <article class='editor-area'>
    {# <textarea id='editor' contenteditable value=""></textarea> #}
    <div id="editor"></div>
  </article>
</div>