---
title: Faulkner
permalink: /faulkner/
layout: 'layouts/base.njk'
css: faulkner.css
js: faulkner
head: >
  <link rel="icon" href="/faulkner.png" type="image/png">
  <script src="/js/ace/ace.js"></script>
---

<header>
  <h1>Faulkner</h1>

  <div class='toolbar'>
    <div>
      <button id='pick-directory'>Choose folder</button>
      <button id='create-button' hidden>Create</button>
      <button id='save' hidden>Save</button>
    </div>

    <div>
      <a id='view-post' hidden target="_blank">
      View
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </a>
      <a id='open-vscode' hidden>
      Open in VSCode
       <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </a>

    </div>
  </div>
</header>

<div class='workspace'>
  <div class='sidebar'>
    <div>
      <h2>In progress</h2>
      <ul id='drafts-list' class='unstyled'></ul>
    </div>

    <div>
      <h2>Published</h2>
      <ul id='file-list' class='unstyled'></ul>
    </div>
  </div>
  <article class='editor-area'>
    <div id="editor"></div>
  </article>
</div>

<dialog id='create-dialog'>
  <h2>Create new blog post</h2>

  <form method="dialog">
    <label>
      Title
      <input type="text" name="title" autofocus/>
    </label>

    <label>
      Note
      <textarea name="note" rows="6"></textarea>
    </label>

    <footer>
      <button type="reset" onclick="this.closest('dialog').close('cancel')">Cancel</button>
      <button type="submit" value="confirm">Create</button>
    </footer>
  </form>
</dialog>