---js
{
  layout: 'layouts/page.njk',
  templateClass: 'home',
  pagination: {
    data: 'collections.feed',
    size: 25,
    alias: 'posts',
    reverse: true,
    before: function(paginationData, fullData) {
      return paginationData.filter(post => post.data ? !post.data.hidden : true);
    }
  },
  // permalink: "/index-new/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
}
---

<section class='blog'>
  {% for post in posts | filterHidden %}
    {% if loop.index == 3 %}
      {% include "archives.njk" %}
    {% endif %}

    <article class="prose {{ 'long-form' if post.data.title }}">
      {% if post.type == 'post' %}
        {% if post.data.title %}
          <header>
            <h1 class='font-header'>
              <a href="{{post.url}}" class='unstyled'>
                {{ post.data.title }}
              </a>
            </h1>

            <div class='breadcrumbs'>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polyline points="12 6 12 12 16 14"></polyline>
                </svg>

                <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
              </div>
            </div>
          </header>
        {% endif %}

        {% if not post.data.title %}
          <time datetime="{{ post.date | htmlDateString }}">
            <a href="{{post.url}}" class='unstyled color-caption block'>{{ post.date | shortDate }}</a>
          </time>
        {% endif %}

        {{ post.content | safe }}
      {% elif post.type == 'highlight' %}
        <blockquote>
          {% renderTemplate "njk,md",
          post %}
          {{ text }}
          {% endrenderTemplate %}
          <cite>
            <a href="{{post.source.url}}" target="_blank">{{post.source.title}} by {{post.source.author}}</a>
          </cite>
        </blockquote>
        <br/>
      {% endif %}
    </article>
  {% endfor %}
</section>

{% set previousPage = pagination.href.previous %}
{% set nextPage = pagination.href.next %}

<nav class='pagination'>
  <ul class='unstyled'>
    {% if nextPage %}
      <li class='previous'>
        <a href="{{ nextPage }}" class='unstyled'>
          Older
        </a>
      </a>
    </li>
  {% endif %}

  {% if previousPage %}
    <li class='next'>
      <a href="{{ previousPage }}" class='unstyled'>
          Newer
        </a>
    </li>
  {% endif %}
</ul>
</nav>