---
title: Portfolio
permalink: /portfolio/
layout: layouts/html.njk
css: portfolio.css
js: portfolio
---

<div class='layout-wrapper'>
  <div id='scroll-header' class='hidden'>
    <h1>The portfolio of Chase McCoy</h1>
    <div>
      <a href="">hi@chasem.co</a>
    </div>
  </div>

  <header id='fixed-header'>
    <span>Portfolio, 2024</span>

    <h1>
      <a href="/">Chase McCoy</a> is a product designer and developer solving patterns of problems.
    </h1>

    <div class='contact'>
      <span>Specializing in design systems, creator tools, documentation, and more. <a href="">Say hello</a> and let's collaborate.
      </span>
    </div>

    {# <focus-areas>
      <ul>
        <li>
          <b>Materials expert</b>
          <p>Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Design systems architect</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Documentation</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Design tokens</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Contribution models</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>Product redesigns</li>
        <li>Theming and customization</li>
      </ul>
    </focus-areas> #}
  </header>
  <main>
    {# <div class='handwriting'>Here are some things I've worked on</div> #}
    <portfolio-item>
      <portfolio-item-header>
        <h2>Stripe</h2>

        <dl>
          <dt>When</dt>
          <dd>2020–present</dd>

          <dt>Role</dt>
          <dd>Staff Product Designer</dd>
        </dl>
      </portfolio-item-header>

      <portfolio-item-content>
        <p>I joined the Design Systems team at Stripe as a product designer in 2020 at an inflection point for Sail, the current design system. Sail was built and optimized for the Stripe Dashboard, but it was not able to support many of the company's increasingly diverse products and surfaces.</p>

        <p>I became the lead designer for the next generation of Sail, which the team set out to build from scratch in a way that could serve <i>all of Stripe</i> and grow with the company over the next decade. 
        
        The new system is designed to enable interoperable UIs that can be endlessly customized to support a variety of brands and products. Today, our system powers dozens of both 1st and 3rd party surfaces across web and mobile native.</p>
      </portfolio-item-content>

      <h3>North-star vision for data tables</h3>

      <portfolio-item-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis laoreet justo sit amet malesuada. Aenean suscipit laoreet gravida. Mauris cursus vehicula odio nec feugiat. Nunc fringilla nec mi in volutpat. Curabitur cursus dui vel diam mollis porttitor.</p>

        <p>Quisque hendrerit justo arcu, at laoreet nunc molestie ac. Fusce a consectetur quam. Integer imperdiet metus sed dolor imperdiet sodales.</p>

        <p>In varius tortor sed orci vehicula dictum. Nulla facilisi. Maecenas quis volutpat ex. Suspendisse odio dolor, sagittis blandit maximus nec, consequat quis dolor. Sed vestibulum nunc sed erat convallis molestie. Nam hendrerit ornare augue, pretium hendrerit leo. Nunc tristique ipsum ut semper rutrum. Aliquam id purus lorem. Integer at risus vehicula, euismod massa et, placerat leo. Donec faucibus odio et enim blandit, sit amet vestibulum erat dictum. Nullam dapibus mauris iaculis arcu rutrum, sed ullamcorper nibh posuere.</p>
      </portfolio-item-content>

      <image-gallery>
        <figure>
          <img src="/images/portfolio/stripe/list-view-old.png" alt="" class='shadow'/>
          <figcaption>Data tables in the Stripe Dashboard were static and limited. They lacked key features like sorting, column customization, and saved views.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/list-view-new.png" alt="" class='shadow'/>
          <figcaption>It took years of work and dozens of teams, but data tables today are much more powerful and are able to facilitate more user workflows.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/list-view-responsive.png" alt="" class='shadow'/>
          <figcaption>Although the Stripe Dashboard was not yet responsive, I made sure to set an early vision for how data tables should adapt to available space.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/list-view-mobile.png" alt=""/>
          <figcaption>I also thought about how interaction patterns might adapt for touch devices.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/list-view-explorations.png" alt=""/>
          <figcaption>I explored hundreds of ideas throughout the project, only some of which we decided to pursue.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/list-view-add-column.png" alt=""/>
          <figcaption>I prototyped lots of interactions for working with data tables, including both direct and indirect manipulation.</figcaption>
        </figure>

      </image-gallery>

      <h3>Design tokens</h3>

      <portfolio-item-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis laoreet justo sit amet malesuada. Aenean suscipit laoreet gravida. Mauris cursus vehicula odio nec feugiat. Nunc fringilla nec mi in volutpat. Curabitur cursus dui vel diam mollis porttitor.</p>

        <p>Quisque hendrerit justo arcu, at laoreet nunc molestie ac. Fusce a consectetur quam. Integer imperdiet metus sed dolor imperdiet sodales.</p>

        <p>In varius tortor sed orci vehicula dictum. Nulla facilisi. Maecenas quis volutpat ex. Suspendisse odio dolor, sagittis blandit maximus nec, consequat quis dolor. Sed vestibulum nunc sed erat convallis molestie. Nam hendrerit ornare augue, pretium hendrerit leo. Nunc tristique ipsum ut semper rutrum. Aliquam id purus lorem. Integer at risus vehicula, euismod massa et, placerat leo. Donec faucibus odio et enim blandit, sit amet vestibulum erat dictum. Nullam dapibus mauris iaculis arcu rutrum, sed ullamcorper nibh posuere.</p>
      </portfolio-item-content>

      <image-gallery style="align-items: flex-end;">
        <figure>
          <img src="/images/portfolio/stripe/token-tags.png" alt=""/>
          <figcaption>Supporting expressive theming meant having hundreds of color tokens. Tokens referenced in our documentation could be clicked to reveal additional information.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/form-field-tokens.png" alt=""/>
          <figcaption>An example of how color tokens map to a component, each acting as a hook for potential customization.</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/button-tree.png" alt=""/>
          {# <figcaption>Font,</figcaption> #}
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/token-tree.png" alt=""/>
          <figcaption>Designing the token system involved mapping out all the ways in which tokens could be constructed using a strict naming scheme and optional modifiers.</figcaption>
        </figure>

        {# <figure>
          <img src="/images/portfolio/stripe/aliases.png" alt=""/>
        </figure> #}

        <figure>
          <img src="/images/portfolio/stripe/dark-ui.png" alt=""/>
          <figcaption>Tokens allowed for end-user theming of the design system and for us to build some out of the box themes such as dark mode.</figcaption>
        </figure>
      </image-gallery>

      <h3>Contribution model</h3>

      <portfolio-item-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis laoreet justo sit amet malesuada. Aenean suscipit laoreet gravida. Mauris cursus vehicula odio nec feugiat. Nunc fringilla nec mi in volutpat. Curabitur cursus dui vel diam mollis porttitor.</p>

        <p>Quisque hendrerit justo arcu, at laoreet nunc molestie ac. Fusce a consectetur quam. Integer imperdiet metus sed dolor imperdiet sodales.</p>

        <p>In varius tortor sed orci vehicula dictum. Nulla facilisi. Maecenas quis volutpat ex. Suspendisse odio dolor, sagittis blandit maximus nec, consequat quis dolor. Sed vestibulum nunc sed erat convallis molestie. Nam hendrerit ornare augue, pretium hendrerit leo. Nunc tristique ipsum ut semper rutrum. Aliquam id purus lorem. Integer at risus vehicula, euismod massa et, placerat leo. Donec faucibus odio et enim blandit, sit amet vestibulum erat dictum. Nullam dapibus mauris iaculis arcu rutrum, sed ullamcorper nibh posuere.</p>
      </portfolio-item-content>

      <image-gallery>

        <figure>
          <img src="/images/portfolio/stripe/contribute.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/process-diagram.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/add-component.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/stripe/design-process.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>
      </image-gallery>

    </portfolio-item>

    <portfolio-item>
      <portfolio-item-header>
        <h2>Sprout Social</h2>

        <dl>
          <dt>When</dt>
          <dd>2017–2020</dd>

          <dt>Role</dt>
          <dd>Lead, Design Systems</dd>
        </dl>
      </portfolio-item-header>

      <portfolio-item-content>
        <p>TODO</p>

        {# <p>I've spent my 3 years at Stripe as design lead working on a UI Platform for the entire company. The design system we've built combines interoperability with customization, and powers both 1st and 3rd party surfaces and brands.</p>

        <p>I've spent my 3 years at Stripe as design lead working on a UI Platform for the entire company. The design system we've built combines interoperability with customization, and powers both 1st and 3rd party surfaces and brands.</p> #}
      </portfolio-item-content>

      <h3>Seeds</h3>
      <image-gallery>
        <figure>
          <img src="/images/portfolio/sprout/seeds-resources.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/seeds-writing.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/seeds-components.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/health-card.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/contribution-process.png" alt=""/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/confirmation.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>
      </image-gallery>

      <h3>Redesigning the Sprout Social app</h3>

      <portfolio-item-content>
        <p>As lead of the Design Systems team at Sprout I <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://sproutsocial.com/insights/sprout-social-design-refresh">helped ship a complete redesign of our product</a>, developed a <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://medium.com/styled-components/how-to-build-a-great-component-library-a40d974a412d">themeable component library</a>, and <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://medium.com/sprout-social-design/design-system-health-3004551060f0">fostered a healthy community to support our system</a>.</p>

        <p>The <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://seeds.sproutsocial.com/">Seeds design system</a> covers a large breath of content for stakeholders across product and brand design, writing, engineering, and more. Under my leadership, a small team of 3 people grew this system from the ground up to support a massive product organization. I used both my technical and design skills to help us achieve a system powered by a strong community of users and contributors.</p>

        <br/>

        <ul>
          <li>Led product strategy, design, and development for <a href="TODO">Seeds</a>, Sprout Social’s best-in-class design system as featured in A Book Apart’s <a href="https://abookapart.com/products/expressive-design-systems">Expressive Design Systems</a> and Andrew Couldwell’s <a href="https://designsystemfoundations.com">Laying the Foundations</a>.</li>
          <li>Led the technical effort to <a href="https://sproutsocial.com/insights/sprout-social-design-refresh">completely redesign Sprout’s legacy web app</a> using our design system as a foundation, resulting in a more responsive and accessible product than ever.</li>
          <li>Responsible for defining the team’s roadmap and collaboration models for working with partners across the company.</li>
          <li>Frequently collaborated with designers and engineers through regular critique to ensure consistency across more than 6 product areas and 3 platforms (web, iOS, & Android).</li>
        </ul>
      </portfolio-item-content>

      <image-gallery>
        <figure>
          <img src="/images/portfolio/sprout/sprout-old.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/sprout-new.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>

        <figure>
          <img src="/images/portfolio/sprout/message-components.png" alt="" class='shadow'/>
          <figcaption>Some text here</figcaption>
        </figure>
      </image-gallery>
    </portfolio-item>

    <portfolio-item>
      <portfolio-item-header>
        <h2>Pico Digital Film</h2>

        <dl>
          <dt>When</dt>
          <dd>2017</dd>

          <dt>Role</dt>
          <dd>iOS Engineer</dd>
        </dl>
      </portfolio-item-header>

      <portfolio-item-content>
        <p>Pico Digital Film was a fun little camera app for iOS designed by <a target="_blank" rel="noreferrer" href="http://louiemantia.com/">Louie Mantia</a> and built using Swift by yours truly. Pico Cam allowed you to pick from one of a few carefully crafted films, and shoot photos pre-processed with that film.</p>

        <p>Pico is no longer available for sale, and the domain for the website has expired. However, you can still <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20190620065334/http:/pico.camera/">check out the site on the Internet Archive</a>. Louie also <a target="_blank" rel="noreferrer" href="https://lmnt.me/blog/pico.html">wrote about the history of the project when it launched back in 2017</a>.</p>
      </portfolio-item-content>

      <image-gallery>
        <figure>
          <img src="/images/portfolio/pico/site.png" alt=""/>
          {# <figcaption>You can still <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20190620065334/http:/pico.camera/">check out the site on the Internet Archive</a>.</figcaption> #}
        </figure>

        <figure>
          <img src="/images/portfolio/pico/boxes.png" alt=""/>
        </figure>
      </image-gallery>
    </portfolio-item>
  </main>
</div>