---
title: Portfolio
permalink: /portfolio/
layout: layouts/html.njk
css: portfolio.css
---

<div class='layout-wrapper'>
  <header>
    <div class='column' style="gap: 0.5rem;">
      <span>Portfolio • WIP</span>
      <h1>
        Chase McCoy is a product designer and engineer specializing in design systems, documentation, and tools for creators.
      </h1>
    </div>

    <focus-areas>
      {# <h3>Focus areas</h3> #}
      <ul>
        <li>
          <b>Materials expert</b>
          <p>Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Design systems architect</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Documentation</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Design tokens</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>
          <b>Contribution models</b>
          <p>TKTK Deep familiarity with the web, browsers, and iOS.</p>
        </li>
        <li>Product redesigns</li>
        <li>Theming and customization</li>
      </ul>
    </focus-areas>
  </header>
  <main>
    <portfolio-item>
      <h2>Stripe</h2>

      <portfolio-item-content>
        <div>
          <dl>
            <dt>When</dt>
            <dd>2020–present</dd>

            <dt>Role</dt>
            <dd>Staff Product Designer</dd>
          </dl>

          <p>I've spent my 3 years at Stripe as design lead working on a UI Platform for the entire company. The design system we've built combines interoperability with customization, and powers both 1st and 3rd party surfaces and brands.</p>
        </div>
      </portfolio-item-content>
    </portfolio-item>

    <portfolio-item>
      <h2>Sprout Social</h2>

      <portfolio-item-content>
        <div>
          <dl>
            <dt>When</dt>
            <dd>2017–2020</dd>

            <dt>Role</dt>
            <dd>Lead, Design Systems</dd>
          </dl>

          <p>As lead of the Design Systems team at Sprout I <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://sproutsocial.com/insights/sprout-social-design-refresh">helped ship a complete redesign of our product</a>, developed a <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://medium.com/styled-components/how-to-build-a-great-component-library-a40d974a412d">themeable component library</a>, and <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://medium.com/sprout-social-design/design-system-health-3004551060f0">fostered a healthy community to support our system</a>.</p>

          <p>The <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20211201080441/https://seeds.sproutsocial.com/">Seeds design system</a> covers a large breath of content for stakeholders across product and brand design, writing, engineering, and more. Under my leadership, a small team of 3 people grew this system from the ground up to support a massive product organization. I used both my technical and design skills to help us achieve a system powered by a strong community of users and contributors.</p>

          <h3>Key accomplishments</h2>
          <ul>
            <li>Led product strategy, design, and development for <a href="TODO">Seeds</a>, Sprout Social’s best-in-class design system as featured in A Book Apart’s <a href="https://abookapart.com/products/expressive-design-systems">Expressive Design Systems</a> and Andrew Couldwell’s <a href="https://designsystemfoundations.com">Laying the Foundations</a>.</li>
            <li>Led the technical effort to <a href="https://sproutsocial.com/insights/sprout-social-design-refresh">completely redesign Sprout’s legacy web app</a> using our design system as a foundation, resulting in a more responsive and accessible product than ever.</li>
            <li>Responsible for defining the team’s roadmap and collaboration models for working with partners across the company.</li>
            <li>Frequently collaborated with designers and engineers through regular critique to ensure consistency across more than 6 product areas and 3 platforms (web, iOS, & Android).</li>
          </ul>
        </div>

        <image-gallery>
          <figure>
            <img src="/images/portfolio/nectar.png" alt=""/>
            <figcaption class='align-end'>Some text here</figcaption>
          </figure>

          <figure>
            <img src="/images/portfolio/seeds-screenshot.png" alt=""/>
            <figcaption>Some text here</figcaption>
          </figure>

          <figure>
            <img src="/images/portfolio/seeds-messages.png" alt=""/>
            <figcaption>Some text here</figcaption>
          </figure>

          {# <figure class='horizontal'>
            <img src="/images/portfolio/seeds-health-card.png" alt="" width="250"/>
            <figcaption>Some text here</figcaption>
          </figure> #}

          <figure>
            <img src="/images/portfolio/seeds-service-map.png" alt=""/>
            <figcaption>Some text here</figcaption>
          </figure>
        </image-gallery>
      </portfolio-item-content>
    </portfolio-item>

    <portfolio-item>
      <h2>Pico Digital Film</h2>

      <portfolio-item-content>
        <div>
          <dl>
            <dt>When</dt>
            <dd>2017</dd>

            <dt>Role</dt>
            <dd>iOS Engineer</dd>
          </dl>

          <p>Pico Digital Film was a fun little camera app for iOS designed by <a target="_blank" rel="noreferrer" href="http://louiemantia.com/">Louie Mantia</a> and built using Swift by yours truly. Pico Cam allowed you to pick from one of a few carefully crafted films, and shoot photos pre-processed with that film.</p>

          <p>Pico is no longer available for sale, and the domain for the website has expired. However, you can still <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20190620065334/http:/pico.camera/">check out the site on the Internet Archive</a>. Louie also <a target="_blank" rel="noreferrer" href="https://medium.com/@mantia/pico-digital-film-5ad232977394">wrote about the history of the project when it launched back in 2017</a>.</p>
        </div>

        <image-gallery>
          <figure>
            <img src="/images/portfolio/pico.png" alt=""/>
            <figcaption>You can still <a target="_blank" rel="noreferrer" href="https://web.archive.org/web/20190620065334/http:/pico.camera/">check out the site on the Internet Archive</a>.</figcaption>
          </figure>
        </image-gallery>
      </portfolio-item-content>
    </portfolio-item>
  </main>
</div>