---
title: Starter kit
permalink: /starter-kit/
layout: 'layouts/base.njk'
templateClass: starter-kit
css: starter-kit.css
---

<div class='prose'>
  <h1>Starter kit</h1>

  <h2>Books</h2>
  {%- include "books.njk" -%}

  <h2>Articles</h2>

  <h2>Movies</h2>

  <h2>Television</h2>
</div>